<!DOCTYPE html>
<html>
  <head>
    <title>DeepSpace</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <!-- NOTE! any style added to body tag needs to be added to
       tailwind.js -> purge -> options -> safelist as there seems to be some weird bug where
       PurgeCSS ignores the classes in the body tag ... -->
  <body class="g-bg-deep-space-blue">
    <div data-controller="action-cable-user-channel"></div>
    <div class="g-global-container">
    <!-- TODO: spacer for fixed navbar -->
      <%= render FlashComponent.new %>
      <div class="pt-4"></div> <!-- Constant spacing above main content -->
      <%= yield %>
    </div>
    <%= render NavbarComponent.new %>
    <!-- TODO: cookies footer? Privacy policy footer? chat footer when logged in? -->
    <%= yield(:footer) if content_for?(:footer) %>
  </body>
</html>
